<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="XyzString" value="超量" />
    <add key="FontName" value="文泉驿微米黑" />
    <add key="ZeroStarCards" value="1686814,43490025,52653092,65305468,90884403" />
    <add key="GenerateLarge" value="True" />
    <add key="GenerateSmall" value="True" />
    <add key="GenerateThumb" value="False" />
  </appSettings>
</configuration>
